@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins.eot?#iefix') format('embedded-opentype'),
         url('../public/fonts/Poppins.woff') format('woff'), url('../public/fonts/Poppins.ttf')  format('truetype'), url('../public/fonts/Poppins.svg#FuturaPT-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('../public/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
         url('../public/fonts/Poppins-Regular.woff') format('woff'), url('../public/fonts/Poppins-Regular.ttf')  format('truetype'), url('../public/fonts/Poppins-Regular.svg#FuturaPT-LightObl') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* 
black: #022334;
green: #00D084;
orange:#F77758;0
blue:#46BBF1;
pink:#F07075;
*/
:root {
--unnamed-color-00d084: #00D084;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-022334: #022334;
--unnamed-color-f77758: #F77758;
--unnamed-color-46bbf1: #46BBF1;
--unnamed-color-f07075: #F07075;
}
body
{
	color: var(--unnamed-color-022334);
	font-family: 'Poppins-Regular';
}
a,a:hover {
    color: var(--unnamed-color-022334);
    text-decoration: none;
}
ul,p
{
    margin: 0;
    padding: 0;
}
ul
{
    list-style: none;
}
.container
{
    width: 1350px;
}
h1
{
    font-size: 35px;
    font-family: 'Poppins';
    opacity: .29;
    color:  var(--unnamed-color-022334);
}
header
{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
}
.header-inner
{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
}
header {
    height: 160px;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
}
.navbar,.banner-section .container {
    max-width: 100%;
    width: 1330px;
    margin: 0 auto;
}
.navbar ul li a
{
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font-size: 21px;
    line-height: 36px;
    font-family: 'Poppins-Regular';
    color: #FFFFFF;
    padding-right: 40px !important;
}
.navbar .btn-outline-success
{
    background: #03B977 0% 0% no-repeat padding-box;
    border-radius: 12px;
    width: 212px;
    height: 72px;
    color: #fff;
    border: none;
}
#section0
{
    background: var(--unnamed-color-00d084);
    color: var(--unnamed-color-ffffff); 
}
.banner-section h1
{
    text-align: left;
    font-size: 50px;
    line-height: 58px;
    font-family: 'Poppins-Regular';
    letter-spacing: 0px;
    opacity: 1;
    color: #FFFFFF;
}
.banner-section p
{
    text-align: left;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Poppins-Regular';
    letter-spacing: 0.56px;
    opacity: 1;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.banner-section .row
{ 
    margin-top: 100px;
}
.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:active
{
        padding: 21px 70px;
    background: var(--unnamed-color-ffffff)  !important;
    border-radius: 10px;
    border: 3px solid #FFFFFF  !important;
    color: var(--unnamed-color-00d084)  !important;
    font-size: 22px;
    line-height: 29px;
}
.banner-section .btn-primary
{
    margin-right: 40px;
}
.banner-section .btn
{
    position: relative;
    z-index: 99;
}
.btn-outline-primary,.btn-outline-primary:hover,.btn-outline-primary:focus,.btn-outline-primary:active
{
     padding: 21px 70px;
    border-radius: 10px;
    border: 3px solid #FFFFFF;
    color: var(--unnamed-color-ffffff);
    font-size: 22px;
    line-height: 29px;
    background: transparent;
}
.scroll-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10%;
}
#menu {
    background: var(--unnamed-color-00d084);
    padding: 43px 70px;
    list-style: none;
    display: none;
    flex-wrap: wrap;
}
#menu.fixed
{
    display: flex;
}
#menu .logo-div {
    margin-right: 179px;
}
.tab-wrap {
    box-shadow: 0px 3px 15px #B1ABAB26;
    border-radius: 20px;
    display: flex;
    border: 3px solid #FFFFFF;
    padding: 8px;
    align-items: center;
    margin-right: 40px;
    width: 400px;
}
.active .tab-wrap
{
    background: #fff;
}
.tab-text {
    margin-left: 25px;
    flex: 0 0 50%;
}
.tab-text p
{
    color: #fff;
    font-size: 11px;
    line-height: 18px;
}
.active .tab-text p
{
    color: #646E85;
}
.tab-text h2
{
    color: var(--unnamed-color-022334);
    font-size: 46px;
    line-height: 69px ;
    font-family: 'Poppins';
    margin: 0;
    position: relative;
}
.tab-text h2::before {
    content: "";
    height: 7px;
    background: #fff;
    border-radius: 5px;
    width: 85px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.active .tab-text h2::before {
    background: #00D084;
}
.active .tab-text h2::after {
    background: #EBEEF4;
}
.tab-text h2::after {
    content: "";
    height: 7px;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.37;
}
.tab-img {
    position: relative;
}
.tab-img::after {
    content: "";
    width: 100%;
    position: absolute;
    background: rgb(0 208 132 / 0.6);
    height: 100%;
    left: 0;
    border-radius: 20px;
}
.container
{
    width: 1286px;
    max-width: 100%;
    margin: 0 auto;
}
.section
{
    padding: 60px 0;
    background: url('../images/section-bg.png') no-repeat;
    background-position: 50px;
    position: relative;
}
.banner-section::after {
    background-image: url(../images/banner-bg.png);
    background-position: center;
    content: "";
    position: absolute;
    width: 530px;
    height: 650px;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
}
.wrapper
{
    border-radius: 20px;
    background: #F1FFFA;
    padding: 30px 50px 0 50px;
}
.read-wrapper ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.read-wrapper ul li
{
    background: #FFFFFF;
    border-radius: 10px;
    width: calc(20% - 30px);
    margin-right: 30px; 
    padding: 20px;
        margin-bottom: 40px;
}
.read-wrapper ul li:nth-child(5n) {
    margin-right: 0;
}
.img-wrap {
    position: relative;
}
.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.read-desc
{
    color: #022334;
    margin-top:16px; 
    font-size: 16px;
    line-height: 26px;
    font-family: 'Poppins-Regular';
}
#section1::after {
    background-image: url(../images/greenseed.png);
    background-position: center;
    content: "";
    position: absolute;
    width: 210px;
    height: 230px;
    left: 17%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    animation: floattop 2s ease-in-out infinite;
}
#section2::after {
    background-image: url(../images/greenseed-hor.png);
    background-position: center;
    content: "";
    position: absolute;
    width: 210px;
    height: 230px;
    right: 3%;
    bottom: 13%;
    transform: scaleX(-1);
    background-size: contain;
    animation: floattop 2s ease-in-out infinite;
}
#section3::after {
    background-image: url(../images/greenseed.png);
    background-position: center;
    content: "";
    position: absolute;
    width: 210px;
    height: 230px;
    left: 3%;
    bottom: 13%;
    background-size: contain;
    animation: floattop 2s ease-in-out infinite;
}
.banner-seed
{
   animation: floattop 2s ease-in-out infinite; 
}
.section h1 {
    margin-bottom: 25px;
}
.show-btn
{
    margin-top: 29px;
}
.show-btn .btn-outline-primary,
.show-btn .btn-outline-primary:hover,
.show-btn .btn-outline-primary:focus,
.show-btn .btn-outline-primary:active
{
    color: #00D084  !important;
    border: 3px solid #00D084  !important;
    background-color: transparent  !important;
}
.watch-wrapper ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.watch-wrapper ul li
{
    background: #FFFFFF;
    border-radius: 10px;
    width: calc(25% - 30px);
    margin-right: 30px; 
    margin-bottom: 40px;
}
.watch-wrapper ul li:nth-child(4n) {
    margin-right: 0;
}
.watch-desc-wrap {
    padding: 20px;
}
.watch-desc {
    color: #666666;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 15px;
}
.watch-cat {
    color: #B3B3B3;
    font-size: 14px;
}
.watch-cat span:first-child {
    padding-right: 10px;
    border-right: 1px solid #B3B3B3;
    margin-right: 10px;
}
/* 
    Inner Pages
*/
.read-list-inner #menu,
.watch-list-inner #menu,
.play-list-inner #menu
 {
    display: flex;
}
.inner-pages
{
    position: relative;
}
.read-list-inner #menu {
    background: #F77758;
}
.read-list-inner .tab-img::after {
    background: rgb(247 119 88 / .6);
}
.read-list-inner .show-btn .btn-outline-primary {
    color: #F77758 !important;
    border: 3px solid #F77758 !important;
}
.read-list-inner .active .tab-text h2::before {
    background: #F77758;
}
.read-list-inner .wrapper {
    background: #FFF9F1;
}
.read-list-inner .tab-text h2 {
    color: #fff;
}
.read-list-inner .active .tab-text h2
{
   color: var(--unnamed-color-022334);
}
#owl-car .owl-nav button {
    width: 65px;
    height: 65px;
    background: #F77758;
    color: #fff;
    border-radius: 50%;
        display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
}
.carousel-wrapper.read-wrapper
{
    padding: 30px 80px 30px 80px;
}
#owl-car .owl-nav {
    position: absolute;
    top: 50%;
    left: -70px;
    width: calc(100% + 140px);
    display: flex;
    justify-content: space-between;
    transform: translate(0, -50%);
}
button.owl-prev::before {
    content: "\f053";
    font-family: Fontawesome;
    font-size: 30px;
}
button.owl-next::before {
    content: "\f054";
    font-family: Fontawesome;
    font-size: 30px;
}
.read-detail h1 {
    opacity: 1;
}
.back-btn {
    background: #ebeeef;
    border-radius: 17px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    color: #000 !important;
    font-size: 24px;
    justify-content: center;
    line-height: 1;
    margin-right: 10px;
    cursor: pointer;
}/* 
    Watch List
*/
.watch-list-inner #menu {
    background: #46BBF1;
}
.watch-list-inner .tab-img::after {
    background: rgb(70 187 241 / .6);
}
.watch-list-inner .show-btn .btn-outline-primary {
    color: #46BBF1 !important;
    border: 3px solid #46BBF1 !important;
}
.watch-list-inner .active .tab-text h2::before {
    background: #46BBF1;
}
.watch-list-inner .wrapper {
    background: #F1FEFF;
}
.watch-list-inner .tab-text h2 {
    color: #fff;
}
.watch-list-inner .active .tab-text h2
{
   color: var(--unnamed-color-022334);
}
/* 
    Iframe
*/
.video-frame
{
    text-align: center; 
        padding: 30px 50px 30px 50px;
}
/* 
    Play List
*/
.play-list-inner #menu {
    background: #F07075;
}
.play-list-inner .tab-img::after {
    background: rgb(240 112 117 / .6);
}
.play-list-inner .show-btn .btn-outline-primary {
    color: #F07075 !important;
    border: 3px solid #F07075 !important;
}
.play-list-inner .active .tab-text h2::before {
    background: #F07075;
}
.play-list-inner .wrapper {
    background: #FFF1F1;
}
.play-list-inner .tab-text h2 {
    color: #fff;
}
.play-list-inner .active .tab-text h2
{
   color: var(--unnamed-color-022334);
}
.read-list-inner #section1::after 
{
    background-image: url(../images/read-bubble.png);
}
.watch-list-inner #section2::after
{
        transform: scaleX(1);
    right: 5%;
    bottom: 5%;
    background-image: url(../images/watch-seed.png);
}
.play-list-inner #section3::after
{
        left: 5%;
    bottom: 5%;
    background-image: url(../images/play-seed.png);
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
@keyframes floattop {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-7px);
    }
    100% {
        transform: translatey(0px);
    }
}

.loader-div
{
    display: none;
} 
.loader-div.spinning
{
    display: flex;
    position: fixed;
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgb(0 208 132 / .7);
    overflow: hidden;
    z-index: 9999;
}
.loader-div img
{
animation: floattop .75s ease-out infinite;
}

/* 

    Responsivness

*/
@media (min-width: 1200px)
{
    .container {
    max-width: 1024px;
}
}

@media all and (max-width:1880px) 
{
header {
    height: 100px;
}

#menu .logo-div {
    margin-right: 100px;
}
#menu {
    padding: 10px 30px;
}
.navbar ul li a {
    font-size: 18px;
    padding-right: 25px !important;
}
.navbar .btn-outline-success {
    width: 185px;
    height: 55px;
}
.tab-wrap {
    margin-right: 15px;
    width: 280px;
    padding: 4px;
}
.tab-img img {
    width: 80px;
}
.tab-img::after {
    border-radius: 10px;
}
.tab-text {
    margin-left: 15px;
    flex: 0 0 60%;
}
.tab-text h2 {
    font-size: 32px;
    line-height: 48px;
}
.banner-section::after {
    width: 390px;
    height: 550px;
    left: 20%;
    top: 50%;
}
.banner-section .btn-primary {
    margin-right: 25px;
}
.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:active {
    padding: 15px 50px;
    font-size: 18px;
}
.banner-section .btn {
    position: relative;
    z-index: 99;
}
.btn-outline-primary,.btn-outline-primary:hover,.btn-outline-primary:focus,.btn-outline-primary:active {
    padding: 15px 50px;
    font-size: 18px;
}
#section1::after {
    left: 3%;
    top: 50%;
    width: 145px;
    height: 145px;
}
#section2::after {
        width: 145px;
    height: 145px;
}
#section3::after {
        width: 145px;
    height: 145px;
}
.wrapper {
    padding: 15px 25px 0 25px;
}
.read-wrapper ul li {
    width: calc(20% - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
}
}
@media all and (max-width:1280px)
{
#menu .logo-div {
    margin-right: 30px;
}
}

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  max-width: fit-content;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}